In [1]:
import pandas
import numpy as np
import pandas as pd

#from __future__ import print_function

from sklearn.datasets import make_blobs
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score


import matplotlib.pyplot as plt
import matplotlib.cm as cm

%matplotlib inline  
import seaborn as sns

In [7]:

# http://stackoverflow.com/questions/22258491/read-a-small-random-sample-from-a-big-csv-file-into-a-python-data-frame


n = 2458286 # total populatoin (or number of rows in file) 
s = 3000 #desired sample size
filename = "~/ce888labs/lab6/hUSCensus1990raw50K.csv.bz2"
skip = sorted(np.random.choice(n, n-s, replace=False) + 1)
print (len(skip))
df = pandas.read_csv(filename,compression = "bz2", header=0, sep='\t', skiprows=skip)

2455286

In [8]:
df.head()

  ,AAGE,AANCSTR1,AANCSTR2,AAUGMENT,ABIRTHPL,ACITIZEN,ACLASS,ADEPART,ADISABL1,ADISABL2,AENGLISH,AFERTIL,AGE,AHISPAN,AHOUR89,AHOURS,AIMMIGR,AINCOME1,AINCOME2,AINCOME3,AINCOME4,AINCOME5,AINCOME6,AINCOME7,AINCOME8,AINDUSTR,ALABOR,ALANG1,ALANG2,ALSTWRK,AMARITAL,AMEANS,AMIGSTAT,AMOBLLIM,AMOBLTY,ANCSTRY1,ANCSTRY2,AOCCUP,APERCARE,APOWST,ARACE,ARELAT1,ARIDERS,ASCHOOL,ASERVPER,ASEX,ATRAVTME,AVAIL,AVETS1,AWKS89,AWORK89,AYEARSCH,AYRSSERV,CITIZEN,CLASS,DEPART,DISABL1,DISABL2,ENGLISH,FEB55,FERTIL,HISPANIC,HOUR89,HOURS,IMMIGR,INCOME1,INCOME2,INCOME3,INCOME4,INCOME5,INCOME6,INCOME7,INCOME8,INDUSTRY,KOREAN,LANG1,LANG2,LOOKING,MARITAL,MAY75880,MEANS,MIGPUMA,MIGSTATE,MILITARY,MOBILITY,MOBILLIM,OCCUP,OTHRSERV,PERSCARE,POB,POVERTY,POWPUMA,POWSTATE,PWGT1,RACE,RAGECHLD,REARNING,RECTYPE,RELAT1,RELAT2,REMPLPAR,RIDERS,RLABOR,ROWNCHLD,RPINCOME,RPOB,RRELCHLD,RSPOUSE,RVETSERV,SCHOOL,SEPT80,SERIALNO,SEX,SUBFAM1,SUBFAM2,TMPABSNT,TRAVTIME,VIETNAM,WEEK89,WORK89,WORKLWK,WWII,YEARSCH,YEARWRK,YRSSERV
0  246,0,0,0,0,0,0,0,0,0,0,0,0,25,0,0,0,0,1,1,1,2...
1  1009,0,0,0,0,0,0,0,0,0,0,0,0,36,0,0,0,0,0,0,0,...
2  2384,0,0,0,0,0,0,0,0,0,0,0,0,35,0,0,0,0,0,0,0,...
3  3159,0,0,0,0,0,0,0,0,0,0,0,0,9,0,0,0,0,0,0,0,0...
4  3258,0,0,0,0,0,0,0,0,0,0,0,0,20,1,0,0,0,0,0,0,...